/**
 * 自定义样式表
 */

/*通用按钮格式*/
.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.button:pressed {
    -fx-background-color: f4f4f4;
}

/*底边栏格式*/
.footer_bar{
    -fx-border-color: f4f4f4;
    -fx-background-color: white;
}

/*地址栏格式*/
.header_bar{
    -fx-background-color: linear-gradient(to top, f4f4f4, white);
}

/*目录树样式*/
.tree-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 13;
}

/*菜单栏样式*/
.menu-bar{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.image-thumbnail-pane{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
}

.image-thumbnail-pane-selected{
    -fx-background-color: GREY;
    -fx-border-width: 0 0 0 0;
}
